@{
    ViewData["Title"] = "À Propos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="row">
    <hr>
    <div class="col-md-7">
        <div class="col-md-12">
            <h2>Notre histoire</h2>
            L'entreprise est né en 2018 par 3 programmeurs encore aux études.
            L'ambition de ces jeunes étudiants et leurs visions à la pointe de la technologie ont mené à leur succès.
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Nos buts</h2>
                <ul>
                    <li>Faciliter votre expérience de magasinage en ligne.</li>
                    <li>Vous offrir des produits de qualité à bas prix</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Expédition</h2>
                <ul>
                    Pour les information d'expédition, consultez la page
                    <a asp-area="" asp-controller="Home" asp-action="Expedition">expédition</a>.

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Politiques</h2>
                <ul>
                    Pour lire nos politiques , consultez la page
                    <a asp-area="" asp-controller="Home" asp-action="privacy">Politiques</a>.

                </ul>
            </div>
        </div>
    </div>

</div>
