@{
    ViewData["Title"] = "Nous Contacter";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="row">
    <hr>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h2>Visiter nous</h2>
                <address>
                    3000 Avenue Boullé,<br />
                    Saint-Hyacinthe,<br />
                    QC J2S 1H9<br />

                </address>
            </div>
            <div class="col-md-6">
                <h2> Appelez-nous</h2>
                <address>
                    <abbr title="Téléphone">T : </abbr>(450) 773-6800
                </address>

                Ligne Info Cican Micro<br>
                Lundi-Vendredi<br>
                8h30 à 18h00<br>


            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Par courriel</h2>
                <address>
                    <strong>Support:</strong> <a href="mailto:Support@CicanMicro.com">Support@CicanMicro.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@CicanMicro.com">Marketing@CicanMicro.com</a>
                </address>
            </div>

        </div>
    </div>
    <div class="col-md-4 Facebook">
        <h2>Facebook</h2>

        <div class="fb-page" data-href="https://www.facebook.com/pg/Cican-Micro-2383720718334996"
             data-tabs="timeline" data-height="70" data-small-header="false"
             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">

            <blockquote cite="https://www.facebook.com/pg/Cican-Micro-2383720718334996" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/pg/Cican-Micro-2383720718334996">Cican Micro</a>
            </blockquote>
        </div>
        <p>Joignez notre page Facebook pour obtenir en exclusivité :</p>
        <ul>
            <li>Nos promotions</li>
            <li>Nos nouveaux produits</li>
        </ul>
        <br>
    </div>
</div>


