@{
    ViewData["Title"] = "Expédition";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <hr>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h2>OPTIONS DE LIVRAISON</h2>
                <ul>
                    <li>Faites-vous livrer vos articles de la façon qui convient le mieux à votre vie bien remplie!</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>LIEUX DE LIVRAISON</h2>
                <p>Vous pouvez choisir entre les lieux de livraison suivants:</p>
                <ul>
                    <li>Canada</li>
                    <li>État-unis</li>
                    <li>France</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <h2>SUIVEZ VOTRE COLIS</h2>
            <h3>Lien de suivi dans le courriel de confirmation d'expédition</h3>
            <p>
                Dès que nous commençons à emballer votre commande, nous vous enverrons un courriel de confirmation d'envoi comprenant les détails de livraison et un lien vous permettant de suivre votre colis en ligne.
                Veuillez noter qu'un certain temps peut être nécessaire avant que les informations de suivi soient téléchargées.
                Vous serez également en mesure de suivre votre commande sous "Commandes" lorsque vous vous connectez à Mon H&M.
            </p>
        </div>
    </div>
</div>


