@{
    ViewData["Title"] = "Politiques";
}
<h2>@ViewData["Title"]</h2>

<h1>Politique de Retour</h1>
<div class="row">
    <hr>
    <div class="span4">
        <p style="text-align: left;"> </p>
    </div>
    <div class="span6">
        <div>
            <p><b>Veuillez noter que notre politique de retour à changé et sera mise à jour comme suit et ce à compter du 16 juin 2018</b></p>
            <p>CHANGEMENTS EN RESUMÉ:</p>
            <p>- Vous ne payez aucun frais de retour (excepté pour les ventes finales).</p>
            <p>- Le délai pour un retour est de 45 jours pour une demande de carte cadeau bonus et de 30 jours pour demande de remboursement et pour les ventes finales.</p>
            <p>- S<span>i vous avez bénéficié de la livraison GRATUITE à partir d'un montant minimum d'achat et qu'après votre retour le montant des articles restants ne satisfont plus à cette promotion, les frais de livraison de 6.99$ + taxes seront retenus sur le montant de votre retour. Si vous aviez payé pour la livraison elle n'est pas remboursable.</span></p>
            <div></div>
            <p><strong>POLITIQUE DE RETOUR </strong></p>
            <ul>
                <li>Les frais de retour sont <strong>GRATUITS</strong> excepté pour les ventes finales.</li>
                <li>Cliquez sur "Faire un Retour" dans le menu principal et suivez les étapes.</li>
                <li>Choisir parmi les options proposées, Carte Cadeau Bonus, Remboursement ou Vente finale. </li>
            </ul>
            <p> </p>
            <p><strong><em>COMMENT FAIRE UN RETOUR ? (Canada UNIQUEMENT)</em></strong></p>
            <ul>
                <li>
                    <strong><span style="text-decoration: underline;">Vous avez 45 jours</span></strong> suivants la date de votre commande pour retourner vos articles pour une demande de <strong>carte cadeau bonus.</strong>
                </li>
                <li>
                    <strong><span style="text-decoration: underline;">Vous avez 30 jours</span></strong> suivants la date de votre commande pour retourner vos articles pour une demande de <strong>remboursement ou pour les ventes finales</strong>.
                </li>
                <li>
                    <strong>SI VOUS AVEZ BENÉFICIÉ D’UN CODE RABAIS : </strong>Il sera appliqué proportionnellement aux articles restant dans votre commande.
                </li>
                <li>
                    <strong>Vous ne payez AUCUN FRAIS DE RETOUR: </strong>Veuillez noter cependant que si vous avez bénéficié de la livraison GRATUITE à partir d'un montant minimum d'achat et qu'après votre retour le montant des articles restants ne satisfont plus à cette promotion, les frais de livraison de 6.99$ + taxes seront retenus sur le montant de votre retour. Si vous aviez payé pour la livraison elle n'est pas remboursable.
                </li>
                <li>Les retours doivent être en <u><b>PARFAITE CONDITION</b></u>. Des articles souillés, odeur de cigarette, de sueur, poils de chien ou de chat, ayant l’apparence d’avoir été portés ou renvoyés en boule dans un sac poubelle seront automatiquement refusés et réexpédiés à vos frais. </li>
                <li>Cliquez sur "Faire un Retour” sur notre site et suivez les instructions.</li>
                <li>N'oubliez pas d'inscrire votre numéro de commande sur votre colis. </li>
            </ul>
            Choisissez en fonction :<br>
            <ol>
                <ol>
                    <ol>
                        <li>Carte Cadeau Bonus: <strong>RETOUR GRATUIT</strong> + <strong>5$ de bonus OFFERT</strong> (aucune date d’expiration. Vous pouvez l’utiliser en un achat ou en plusieurs ou l'offrir en cadeau). Si vous avez deja payé votre commande avec une carte cadeau bonus veuillez noter que vous n'êtes pas eligible pour le 5$ de bonus.</li>
                        <li>
                            Remboursement: <strong>RETOUR GRATUIT</strong>
                        </li>
                        <li>Vente finale soit tous les articles en dessous de 30$. Vous n'aurez pas à débourser pour nous retourner votre colis mais des frais de r<span>etour de 6.99$ seront déduit du montant,</span><span> </span>credit de magasin uniquement sous forme de carte cadeau. Ces frais s'appliquent uniquement pour les ventes finales, par colis et non par article. </li>
                    </ol>
                </ol>
            </ol>
            <p> </p>
            <p>Après avoir complété les étapes nous vous enverrons un numéro d'autorisation de retour par courriel <strong>sous 48h </strong>qui vous permettra de retirer l'étiquette de retour à votre comptoir de Poste Canada.</p>
            <p><strong>TOUTE AUTRE METHODE DE LIVRAISON NE SERA PAS REMBOURSÉE.</strong></p>
            <ul>
                <li>Les retours seront traités dans les 10 jours ouvrables suivant la réception de votre commande.</li>
                <li>Si vous avez des questions n'hésitez pas à nous contacter par email (Support@CicanMicro.com)</li>
            </ul>
            <p> </p>
            <p><strong>ÉCHANGE</strong></p>
            <p>Dû aux petites quantités que nous fabriquons, aucune mise de coté n'est malheureusement possible . Si vous souhaitez échanger un article nous vous conseillons de repasser une commande et de procéder à une demande de retour sur notre boutique en ligne pour les articles qui ne font pas. </p>
            <p> </p>
            <p><b>VENTES FINALES</b></p>
            <p>Nous acceptons les retours sur les ventes finales (soit tous les articles en dessous de 30$) <b>UNIQUEMENT</b> contre un crédit de magasin (carte cadeau sans date d’expiration).</p>
            <meta charset="utf-8">
            <p><span>Vous n'aurez pas à débourser pour nous retourner votre colis mais des frais de r</span><span>etour de 6.99$ seront déduit du montant,</span><span> </span><span>credit de magasin uniquement sous forme de carte cadeau. Ces frais s'appliquent uniquement pour les ventes finales, par colis et non par article. </span></p>
            <p>Veuillez suivre les étapes de retour en cliquant sur "FAIRE UN RETOUR" dans le menu principal et choisir l’option “Vente Finale”. N’oubliez pas d’écrire votre numéro de commande sur le colis.</p>
            <p> </p>
            <p><strong>RETOUR SUR PROMOTION Achetez X obtenez Y</strong></p>
            <p>Pour le retour d’un article acheté lors d’une promotion «<b>A</b><strong>chetez X obtenez Y</strong>», nous déduirons du Crédit/Remboursement une part proportionnelle à la valeur de l’article retourné.</p>
            <p>  <span class="s1"><b></b></span> </p>
            <p><strong>PAQUETS NON RECLAMÉS</strong></p>
            <p>Les paquets non réclamés auprès de votre bureau de poste seront assujettis à tous frais de retour et frais administratif exigés par la compagnie de transport le cas échéant ainsi qu'à des frais de réexpédition.</p>
            <p> </p>
            <p><strong>ARTICLE ENDOMMAGÉ OU MAUVAIS ARTICLE RECU</strong></p>
            <p><strong> </strong></p>
            <p>Merci de nous contacter par courriel à info@tropbellepourtoi.cadans les 48h suivant la reception de votre commande.</p>
            <p><strong> </strong></p>
            <p><strong>ACHATS EFFECTUES DE L'EXTÉRIEUR DU CANADA</strong></p>
            <p>Tous les articles (<strong>EXCEPTÉ VENTES FINALES</strong>) peuvent être retournés dans les 45 jours suivants la date de votre commande contre une Note de Credit ou un Remboursement. Trop Belle Pour Toi inc N'EST PAS responsable pour les frais de douanes et les frais de transport retour. Toutes taxes ou charges sont la responsabilité de l'acheteur. vous devez communiquez avec nous par courriel avant de procéder à votre retour à Support@CicanMicro.com.</p>
        </div>
        <div></div>
    </div>
</div>

